.vscode
*.iml
.aws-sam
samconfig.toml
.idea
__pycache__/
*.py[cod]
*$py.class
.Python
.coverage
out/
build/
dist/
lib/
lib64/
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
.cache
.pytest_cache/
target/
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
